.section-banner {
  margin:convertPxToRem(40px) 0;
  .banner-list {
    gap: convertPxToRem(20px);
  }
}
.banner-item {
  position: relative;
  .banner-img {
    height: auto;
    overflow: hidden;
    position: relative;
    margin: convertPxToRem(10px) auto;
    display: block;
    img {
      width: 100%;
      transition: all 0.5s;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:hover img {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
  }
  .banner-desc {
    @include absCenter("desc");
    text-align: justify;
    .banner-desc-title {
      font-size: convertPxToRem(20px);
      color: map-get($colors, txt-black);
      text-transform: capitalize;
    }
  }
  .banner-desc-price {
    font-size: convertPxToRem(16px);
    line-height: convertPxToRem(20px);
    span {
      color: map-get($colors, txt-black);
      font-size: convertPxToRem(16px);
    }
  }
}