.section-slideshow {
  position: relative;
  .btn {
    @include absCenter("top");
  }
  .btn-prev {
    left: 18%;
  }
  .btn-next {
    right: 18%;
  }
}
.slide-item {
  .slide-img {
    background: url("../images/slider-1.jpg");
    background-size: cover;
    height: convertPxToRem(600px);
    background-repeat: no-repeat;
    background-position: center;
  }
  .slide-content {
    @include absCenter("content");
    text-transform: capitalize;
    .slide-content-sale {
      font-size: convertPxToRem(20px);
      font-weight: map-get($font-weight, medium);
      color:  map-get($colors, black);
      position: relative;
      padding-left:convertPxToRem(130px);
      &::before {
        content: "";
        background-color:  map-get($colors, black);
        position: absolute;
        top: 50%;
        left: 0;
        width: convertPxToRem(100px);
        height: convertPxToRem(2px);
      }
    }
    .slide-content-desc {
      font-size: convertPxToRem(60px);
      line-height: convertPxToRem(80px);
      margin: convertPxToRem(6px) 0 convertPxToRem(40px);
      color:  map-get($colors, black);
    }
    .btn-shop-now {
      padding:convertPxToRem(20px) convertPxToRem(40px);
      font-size: convertPxToRem(16px);
      line-height: 1;
      display: inline-block;
      color:  map-get($colors, black);
      border: convertPxToRem(2px) solid #ccc;
      transition: 0.5s ease-in-out;
      text-transform: uppercase;
      &:hover {
        box-shadow: inset convertPxToRem(200px) 0 0 0  map-get($colors, brand-scss);
        color: map-get($colors,white);
      }
    }
  }
}