/* reset */
* {
  margin: 0;
  padding: 0;
}
ol,
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
  max-width: 100%;
  border: none;
}
a {
  color: inherit;
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
  text-align: center;
  background: none;
}

/* base */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: var(--font-family-sans-serift);
}
.d-none-mb {
  display: none !important;
}
:root {
  --blue: #007bff;
  --dark-cls: #010101;
  --indigo: #6610f2;
  --purple: #a749ff;
  --pink: #e83e8c;
  --red: #dc3545;
  --brown: #915342;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #000;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
} */
body {
  font-size: 14px;
  background: var(--light);
  color: #111;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.row {
  margin: 0 -15px;
}
.row::after,
.row::before {
  content: "";
  display: table;
  clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  float: left;
  padding: 0 15px;
}
.col-2 {
  width: 16, 666666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33, 333333333%;
}
.col-6 {
  width: 50%;
}
/* header */
.page-header {
  position: relative;
}
.page-header .header-logo {
  display: inline-block;
  line-height: 80px;
}
.header-logo img {
  width: 100px;
  vertical-align: middle;
}
.nav-menu {
  display: inline-block;
  text-align: center;
  width: 75%;
}
.nav-menu .menu-list .menu-item {
  display: inline-block;
  margin-right: 40px;
  font-size: 18px;
}
.nav-menu .menu-list .menu-item:last-child {
  margin-right: 0;
}
.social-list {
  position: absolute;
  right: 10%;
  top: 30%;
}
.social-list .social-item {
  display: inline-block;
  margin-right: 15px;
}
.social-list .social-item:last-child {
  margin-right: 0;
}
.social-item sup {
  font-size: 10px;
  line-height: 20px;
  background: var(--dark);
  color: var(--light);
  padding: 2px 6px;
  text-align: center;
  border-radius: 100%;
}
.social-item a {
  color: var(--dark);
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}
.nav-bar {
  position: absolute;
  top: 0;
  right: 5%;
  line-height: 80px;
  font-size: 22px;
}
/* section-slideshow */
.section-slideshow {
  position: relative;
}
.btn {
  font-size: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray);
}
.btn:focus {
  color: var(--dark-cls);
}
.btn-prev {
  left: 18%;
}
.btn-next {
  right: 18%;
}
/* .slide-list .slide-item img {
  height: 660px;
} */
.slide-list .slide-item .slide-img {
  background: url("./images/slider-1.jpg");
  background-size: cover;
  height: 660px;
  background-repeat: no-repeat;
  background-position: center;
}
.slide-content {
  position: absolute;
  top: 30%;
  right: 18%;
  text-transform: capitalize;
}
.slide-content-sale {
  font-size: 24px;
  font-weight: 500;
  color: var(--dark);
  position: relative;
  padding-left: 135px;
}
.slide-content-sale::before {
  content: "";
  background-color: var(--dark);
  position: absolute;
  top: 50%;
  left: 0;
  width: 120px;
  height: 2px;
}
.slide-content-desc {
  font-size: 72px;
  line-height: 97px;
  margin: 6px 0 37px;
  color: var(--dark-cls);
}
.btn-shop-now {
  padding: 20px 50px;
  font-size: 16px;
  line-height: 1;
  display: inline-block;
  color: var(--dark-cls);
  border: 2px solid var(--gray);
  /* box-shadow: inset 200px 0 0 0 #007bff; */
  transition: 0.5s ease-in-out;
  text-transform: uppercase;
}
.btn-shop-now:hover {
  box-shadow: inset 200px 0 0 0 var(--purple);
  color: var(--light);
}
/* section-banner */
.section-banner {
  padding: 0 40px;
}
.banner-list {
  text-align: center;
  margin: 0 25px 0;
}
.banner-list .banner-item {
  display: inline-block;
  margin: 70px 0px 100px;
  position: relative;
  height: auto;
}
.banner-img {
  height: auto;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  display: block;
}
.banner-img img {
  max-width: 100%;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.banner-img:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.banner-img img {
  width: 100%;
}
.banner-desc {
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: justify;
}
.banner-desc-title {
  font-size: 24px;
  color: var(--brown);
  text-transform: capitalize;
  letter-spacing: 1px;
}
.banner-desc-price {
  font-size: 16px;
  line-height: 25px;
}
.banner-desc-price span {
  color: var(--brown);
  font-size: 18px;
}
.banner-desc .banner-icon {
  font-size: 14px;
  position: absolute;
  bottom: -100%;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  color: var(--brown);
  border: 2px solid var(--brown);
  border-radius: 100%;
  transition: 0.3 ease-in-out;
}
.banner-desc .banner-icon:hover {
  color: var(--purple);
  border: 2px solid var(--purple);
}
.banner-desc .banner-icon i {
  line-height: 25px;
}
/* section-product */
.section-product {
  margin: 0 60px;
}
.product-tab-list .product-tab-item {
  display: inline-block;
  padding-right: 20px;
  font-size: 22px;
  padding-bottom: 50px;
}
.active a {
  margin-top: 25px;
  border-bottom: 2px solid var(--gray-dark);
}
.product-list,
.product-tab-list {
  padding: 0 40px;
}
.product-list .product-item {
  display: inline-block;
  position: relative;
}
.product-item-sale {
  position: absolute;
  top: 4%;
  right: 10%;
}
.product-item-action {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product-item-action .add-cart,
.product-item-action .add-eye,
.product-item-action .add-compass {
  font-size: 16px;
  line-height: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 3px;
  transition: all 0.4s ease-in-out;
  transform: scaleX(0);
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 50px;
  background: none;
  background-color: #a749ff;
}
.product-item:hover .add-cart,
.product-item:hover .add-compass,
.product-item:hover .add-eye {
  transform: scaleX(1) !important;
}
.product-item-title {
  line-height: 30px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 100;
}
.product-item .sale-percent {
  color: var(--pink);
}
.product-item .sale-new {
  color: var(--purple);
}
.product-item-price {
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
}
.product-item-price span {
  color: var(--purple);
}
.section-product .product-view-more {
  text-transform: uppercase;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 4px;
}
.section-product .product-view-more a {
  border-bottom: 2px solid var(--gray);
}
.section-product .product-view-more:hover {
  color: var(--indigo);
}
/* section-blog */
.section-blog {
  margin-top: 40px;
}
.blog-title {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  margin: 0;
  text-align: center;
  padding-bottom: 30px;
}
.blog-title h2::before {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 120px;
  height: 2px;
  content: "";
  background-color: #000;
}
.blog-title h2::after {
  position: absolute;
  top: 30%;
  right: 30%;
  width: 120px;
  height: 2px;
  content: "";
  background-color: #000;
}
.blog-list {
  text-align: center;
  position: relative;
}
.blog-list .blog-item {
  display: inline-block;
  margin-right: 15px;
  width: 29%;
  position: relative;
}
.blog-list .blog-item:nth-child(2n){
  margin-right: 0;
}
.blog-img {
  height: auto;
  overflow: hidden;
  display:block;
}
.blog-img img {
  max-width: 100%;
  transition: all 0.5s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.blog-img:hover img {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
}
.blog-tag {
  position: absolute;
  top: 20px;
  margin-left: 20px;
  font-size: 18px;
  display: inline-block;
  color: #fff;
}
.blog-tag span {
  background-color: #a749ff;
  padding: 3px 7px;
  margin: 0 3px;
}
.blog-desc {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  background-color: #fff;
  margin: -50px 20px;
  height: 80px;
  text-align: center;
  z-index: 999999999;
  position: relative;
  padding: 15px 20px;
}
.blog-desc i {
  font-weight: 400;
}

/* page-footer */
.page-footer {
  margin-top: 70px;
  background-color: #f6f6f8;
  padding-top: 100px;
  padding-bottom: 300px;
}
.footer-logo {
  margin-top: 41px;
  margin-bottom: 12px;
}
.footer-logo img {
  width: 100px;
}
.footer-left,
.footer-middle-3-col,
.footer-middle-col,
.footer-right {
  float: left;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.9px;
}
.footer-middle-3-col {
  margin: 0 100px;
}
.footer-middle-3-col:last-child {
  margin: 0;
}
.footer-middle-col {
  margin: 0 40px;
}
.footer-middle-title,
.footer-right-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  margin: 0 0 16px;
  color: #313131;
}
.footer-middle-list {
  text-align: justify;
}
.footer-right {
  display: inline-block;
  width: 20%;
}
.footer-right-content {
  color: #7a7a7a;
  font-size: 16px;
  line-height: 35px;
  width: 100%;
  display: block;
}
.footer-right-text {
  width: 100%;
  padding: 8px 0px;
  border: none;
  outline: none;
  border-bottom: 1px solid #111;
  background: transparent;
}
.btn-sub {
  font-size: 14px;
  line-height: 1;
  width: auto;
  height: auto;
  margin: 13px 0 0;
  padding: 0 0 1px;
  text-transform: uppercase;
  color: #313131;
  border: none;
  border-bottom: 2px solid #9b9b9c;
  background: none;
}
/* responsive */
@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 30px;
  }
  .d-none-mb {
    display: block !important;
    right: 7%;
  }
  .socials {
    margin-right: 20px;
  }
  .nav-menu {
    /* width: 65%; */
    display: none;
  }
  .fa-search,
  .fa-user {
    display: none;
  }
  .social-item a {
    font-size: 22px;
  }
  .nav-menu .menu-list .menu-item {
    margin-right: 18px;
  }
  .slide-list .slide-item img {
    height: 550px;
  }
  .slide-content {
    top: 30%;
    right: 5%;
  }
  .slide-content-desc {
    font-size: 50px;
    line-height: 65px;
    margin: 6px 0 30px;
  }
  .btn-prev {
    left: 8%;
  }
  .btn-next {
    right: 8%;
  }
  .section-banner {
    padding: 40px 0;
  }
  .banner-img {
    margin: 0;
  }
  .banner-list {
    margin: 0;
  }
  .banner-list .banner-item {
    padding: 0 10px;
    margin: 0;
  }
  .col-2 {
    width: 33%;
    padding: 0;
  }
  .section-product {
    margin: 0;
  }
  .product-list {
    padding: 0;
  }
  .product-tab-list {
    padding: 30px 0;
  }
  .col-3 {
    width: 50%;
  }
  .blog-title h2::before {
    left: 20%;
    width: 100px;
  }
  .blog-title h2::after {
    right: 20%;
    width: 100px;
  }
  .blog-list {
    text-align: start;
  }
  .blog-list .blog-item {
    width: 48.5%;
    height: 300px;
  }
  .blog-desc {
    font-size: 15px;
  }
  .page-footer {
    position: relative;
  }
  .footer-middle-3-col {
    margin: 0;
  }
  .footer-middle-col {
    margin: 0 30px;
  }
  .footer-middle-col:last-child {
    position: absolute;
    left: 0;
    top: 82%;
  }
  /* .footer-middle-col:last-child {
    margin: 0;
    position: absolute;
    left: 2%;
    top: 100%;
  } */
  .footer-right {
    float: right;
    padding-left: 60px;
    width: 82%;
    margin-top: 5%;
  }
}
@media only screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
  .d-none-mb {
    display: block !important;
  }
  .socials {
    margin-right: 20px;
  }
  .slide-list .slide-item .slide-img {
    height: 450px;
    filter: blur(2px);
    background-position: 30%;
  }
  .slide-content {
    right: 25%;
    text-align: center;
  }
  .slide-content-sale {
    font-size: 19px;
    padding: 0;
    color: var(--gray-dark);
  }
  .slide-content-sale::before {
    display: none;
  }
  .slide-content-desc {
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    color: var(--secondary);
  }
  .btn-shop-now {
    background-color: #eeeff1;
    font-size: 20px;
    padding: 15px 40px;
  }
  .section-banner {
    padding: 0;
  }
  .banner-list {
    margin: 0;
  }
  .banner-list .banner-item {
    margin: 0;
    width: 100%;
  }
  .banner-desc {
    top: 30%;
  }
  .section-product {
    margin: 0;
  }
  .product-list,
  .product-tab-list {
    padding: 0 20px;
  }
  .col-3 {
    width: 100%;
  }
  .blog-title h2 {
    font-size: 22px;
  }
  .blog-title h2::before {
    left: 25%;
    top: 20%;
    width: 40px;
  }
  .blog-title h2::after {
    right: 25%;
    top: 20%;
    width: 40px;
  }
  .blog-list .blog-item {
    width: 100%;
    padding: 20px;
    margin: 15px 0;
  }
  .blog-tag {
    top: 8%;
  }
  .blog-desc {
    /* margin: -55px 75px; */
    height: auto;
    font-size: 18px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-middle-3-col {
    margin: 0;
  }
  .footer-middle-col {
    margin: 10px 0;
    display: block;
    width: 100%;
  }
  .footer-middle-col:last-child {
    position: relative;
  }
  .footer-right {
    width: 100%;
  }
  .fa-search,
  .fa-user {
    display: none;
  }
  .footer-right {
    padding-left: 0;
  }
}
@media only screen and (max-width: 479px) {
  .container {
    padding: 0 10px;
  }
  .blog-desc {
    font-size: 15px;
    padding: 0;
    margin: 0;
  }
  .social-item a {
    font-size: 14px;
  }
  .blog-list .blog-item {
    width: 100%;
    padding: 20px;
    margin: 0;
  }
  .blog-title h2::before {
    left: 5%;
  }
  .blog-title h2::after {
    right: 5%;
  }
  .slide-content-desc {
    font-size: 24px;
    line-height: 34px;
  }
  .btn-shop-now {
    font-size: 15px;
    padding: 10px 25px;
  }
  .btn-next {
    right: 10%;
  }
  .btn-prev {
    left: 10%;
  }
}
