* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
/* child-selector */
.content-list .item {
  color: red;
  font-size: 25px;
}
.content-list > .item {
  color: blue;
  font-size: 35px;
}

/* attribute-selector */
a[href] {
  color: blueviolet;
}
input[type="button"] {
  padding: 10px 20px;
  background-color: #111;
  color: #fff;
  cursor: pointer;
}
input[type="text"] {
  padding: 5px 10px;
  border: none;
  outline: none;
}

/* universal-selector */
.main-banner {
  background-color: #ccc;
}
.main-banner .banner-title {
  color: #111;
  padding: 10px;
  font-size: larger;
}
.main-banner .banner-content {
  color: blueviolet;
  text-align: center;
}
/* pseudo-class */
.main-action a:hover {
  color: red;
}
.main-action a:link {
  color: #111;
}
.main-action a:visited {
  color: green;
}
.main-action a:active {
  color: blue;
}
.main-action a:first-child {
  font-size: 10px;
}
.main-action a:last-child {
  font-size: 30px;
}
.main-action a:nth-child(2n) {
  font-size: 60px;
}
/* pseudo-element */
.main-infor {
  background-color: #111;
  color: #fff;
  padding: 20px 10px;
}
.main-infor .infor-name::after {
  content: "Quoc Khanh";
}
.main-infor .infor-name::before {
  content: "Mr.";
}

/* box-modal */
.boxs {
  background-color: #ccc;
  width: 500px;
  height: 500px;
  border: 15px solid blueviolet;
  padding: 50px;
  margin: 20px;
  position: relative;
}
.box{
  background-color: #ccc;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 15px solid blueviolet;
  margin: 10px;
}
.boxs .boxs-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 20%;
  overflow-y: scroll;
}
.box_1{
  top: 0;
  left: 0;
}
.box_2{
  top: 0;
  right: 0;
}
.box_3{
  bottom: 0;
  left: 0;
}
.box_4{
  bottom: 0;
  right: 0;
}

/* text-font */
.main-content * {
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  text-decoration: underline;
}

/* color-background */
.boxed {
  background-color: #111;
  color: #fff;
}

/* specificity_class */
.text {
  color: green;
  font-size: 20px;
}
h6 {
  color: red;
  font-size: 40px;
}
/* important */
#myid {
  background-color: blue;
}
.myclass {
  background-color: gray;
}
h5 {
  background-color: red !important;
}

