@import "base/all";
@import "modules/all";
@import "layout/all";
@import "state/all";
@import "pages/all";
/* header */
.page-header {
  height: $size-100;
  line-height: $size-100;
  .header-logo {
    line-height: $size-100;
  }
  .menu-list {
    gap: $size-40;
    .menu-item {
      font-size: $size-16;
    }
  }
  .social-list {
    gap: $size-20;
    .social-item {
      sup {
        font-size: $size-10;
        line-height: $size-20;
        background:  map-get($colors, black);
        color:  map-get($colors, white);
        padding: convertPxToRem(2px) convertPxToRem(5px);
        text-align: center;
        border-radius: 50%;
      }
      a {
        color:  map-get($colors, black);
        background: transparent;
        border: none;
        outline: none;
        font-size: $size-16;
      }
    }
  }
}
/* section-slideshow */
.section-slideshow {
  position: relative;
  .btn {
    @include absCenter("top");
  }
  .btn-prev {
    left: 18%;
  }
  .btn-next {
    right: 18%;
  }
}
.slide-item {
  .slide-img {
    background: url("../images/slider-1.jpg");
    background-size: cover;
    height: $size-100*6;
    background-repeat: no-repeat;
    background-position: center;
  }
  .slide-content {
    @include absCenter("content");
    text-transform: capitalize;
    .slide-content-sale {
      font-size: $size-20;
      font-weight: map-get($font-weight, medium);
      color:  map-get($colors, black);
      position: relative;
      padding-left: $size-100 + $size-20 +$size-10;
      &::before {
        content: "";
        background-color:  map-get($colors, black);
        position: absolute;
        top: 50%;
        left: 0;
        width: $size-100;
        height: convertPxToRem(2px);
      }
    }
    .slide-content-desc {
      font-size: $size-60;
      line-height: $size-60 +$size-20;
      margin: convertPxToRem(6px) 0 $size-40;
      color:  map-get($colors, black);
    }
    .btn-shop-now {
      padding: $size-20 $size-40;
      font-size: 16px;
      line-height: 1;
      display: inline-block;
      color:  map-get($colors, black);
      border: convertPxToRem(2px) solid #ccc;
      transition: 0.5s ease-in-out;
      text-transform: uppercase;
      &:hover {
        box-shadow: inset $size-100+$size-100 0 0 0  map-get($colors, brand-scss);
        color: map-get($colors,white);
      }
    }
  }
}
/* section-banner */
.section-banner {
  margin:$size-40 0;
  .banner-list {
    gap: $size-20;
  }
}
.banner-item {
  position: relative;
  .banner-img {
    height: auto;
    overflow: hidden;
    position: relative;
    margin: $size-10 auto;
    display: block;
    img {
      width: 100%;
      transition: all 0.5s;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    &:hover img {
      transform: scale(1.2);
      -webkit-transform: scale(1.2);
    }
  }
  .banner-desc {
    @include absCenter("desc");
    text-align: justify;
    .banner-desc-title {
      font-size: $size-20;
      color: map-get($colors, txt-black);
      text-transform: capitalize;
    }
  }
  .banner-desc-price {
    font-size: $size-16;
    line-height: $size-20;
    span {
      color: map-get($colors, txt-black);
      font-size: $size-16;
    }
  }
}
/* section-product */
.section-product {
  .product-tab-list {
    gap: $size-20;
    font-size: $size-20;
    padding-bottom: $size-40;
    .active {
      a {
        margin-top: $size-20;
        border-bottom: convertPxToRem(2px) solid map-get($colors, black);
      }
    }
  }
  .product-list {
    flex-wrap: wrap;
  }
  .product-view-more {
    text-transform: uppercase;
    padding-top: $size-40;
    text-align: center;
  }
}

.product-item {
  position: relative;
  padding-right: $size-20;
  line-height: 2;
  &:nth-child(4),
  &:nth-child(8) {
    padding-right: 0;
  }
  .product-item-sale {
    position: absolute;
    top: 5%;
    right: 10%;
  }
  img {
    height: 80%;
  }
  .product-item-action {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .product-item-action {
    .add-eye,
    .add-cart,
    .add-compass {
      font-size: $size-16;
      line-height: $size-40;
      display: inline-block;
      width: $size-40;
      height: $size-40;
      margin: 0 convertPxToRem(3px);
      transition: all 0.4s ease-in-out;
      transform: scaleX(0);
      text-align: center;
      color: map-get($colors, white);
      border: none;
      border-radius: $size-40+$size-10;
      background: none;
      background-color: map-get($colors, brand-css);
    }
    &:hover .add-eye,
    &:hover .add-cart,
    &:hover .add-compass {
      transform: scale(1);
    }
  }
  .product-item-title {
    line-height: $size-20+$size-10;
    padding-top: $size-10;
    font-size: $size-20;
    font-weight: map-get($font-weight, normal);
  }
  .product-item .sale-percent {
    color: map-get($colors, brand-css);
  }
  .product-item .sale-new {
    color: map-get($colors, brand-css);
  }
  .product-item-price {
    font-size: $size-16;
    font-weight: map-get($font-weight, medium);
    line-height: $size-40;
    span {
      color: map-get($colors, brand-css);
    }
  }
}
/* section-blog */
.section-blog {
  margin: $size-40 0 0 0;
  .blog-title {
    position: relative;
    font-size: $size-20;
    font-weight: map-get($font-weight, normal);
    margin: 0;
    text-align: center;
    padding-bottom: $size-20;
    h2::before {
      @include absCenter("blog-before");
      width:  $size-100 +$size-20;
      height:  convertPxToRem(2px);
      content: "";
      background-color: map-get($colors, black);
    }
    h2::after {
      @include absCenter("blog-after");
      width:  $size-100 +$size-20;
      height:  convertPxToRem(2px);
      content: "";
      background-color: map-get($colors, black);
    }
  }
}
.blog-list {
  gap:  $size-20;
  .blog-item {
    position: relative;
    .blog-img {
      height: auto;
      overflow: hidden;
      display: block;
      img {
        max-width: 100%;
        transition: all 0.5s;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
      &:hover img {
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
      }
    }
    .blog-tag {
      position: absolute;
      top:  $size-20;
      margin-left:  $size-20;
      font-size:  $size-16;
      display: inline-block;
      color: map-get($colors, white);
      z-index: 1;
      span {
        background-color: map-get($colors, brand-css);
        padding: convertPxToRem(3px) convertPxToRem(7px);
      }
    }
    .blog-desc {
      font-size:  $size-20;
      font-weight: map-get($font-weight, normal);
      background-color: map-get($colors, white);
      text-align: center;
      padding:  $size-16 $size-20;
      width: 85%;
      position: absolute;
      bottom: -25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
/* footer */
.footer {
  margin:  $size-40 0 0 0;
  padding:  $size-40+$size-20 0;
  background: #ccc;
  .footer-middle-3-col {
    width: 50%;
  }
  .footer-left,
  .footer-middle-3-col,
  .footer-middle-col,
  .footer-right {
    font-size: $size-16;
    font-weight: map-get($font-weight, normal);
    line-height: $size-40;
  }
  .footer-middle-title,
  .footer-right-title {
    font-size: $size-16;
    font-weight: map-get($font-weight, normal);
    line-height: 2;
    color: map-get($colors, txt-black);
  }
  .footer-right {
    width: 25%;
    .footer-right-content {
      color: map-get($colors, txt-black);
      font-size: $size-16;
      line-height: $size-20;
      display: block;
      width: 100%;
      p {
        text-align: justify;
        letter-spacing: 0;
      }
    }
    .footer-right-text {
      font-size: $size-10;
      color: map-get($colors,black );
      border: none;
      border-bottom: convertPxToRem(2px) solid map-get($colors, black);
      border-radius: 0;
      background: transparent;
      outline: none;
    }
    .btn-sub {
      font-size: $size-16;
      line-height: 1;
      width: auto;
      height: auto;
      text-transform: uppercase;
      color: #313131;
      border: none;
      border-bottom: convertPxToRem(2px) solid map-get($colors, border-gray-light);
      background: none;
      text-align: justify;
    }
  }
}
@include respond-below(large) {
  .menu-list {
    gap: $size-20 +$size-10;
  }
  .slide-content {
    right: 8%;
  }
  .btn-prev {
    left: 8%;
  }
  .btn-next {
    right: 8%;
  }
  .banner-list {
    gap: 10px;
  }
  .col-3 {
    width: 33.333333334%;
  }
  .product-list .product-item:nth-child(3),
  .product-list .product-item:nth-child(6) {
    padding-right: 0;
  }
  .blog-title h2::before {
    left: 25%;
  }
  .blog-title h2::after {
    right: 25%;
  }
}
@include respond-below(medium) {
  .nav-menu,
  .fa-search,
  .fa-user {
    display: none;
  }

  .slide-img {
    background-position: 20% !important;
    filter: blur(1.5px);
  }
  .slide-content {
    right: 25%;
  }
  .slide-content-desc {
    font-size: 55px;
    line-height: 70px;
    font-weight: map-get($font-weight, medium);
  }
  .banner-list {
    flex-direction: column;
    align-items: center;
  }
  .col-4 {
    width: 80%;
  }
  .col-3 {
    width: 50%;
  }
  .product-list .product-item:nth-child(2n) {
    padding-right: 0;
  }
  .blog-title h2::before {
    left: 18%;
  }
  .blog-title h2::after {
    right: 18%;
  }
  .blog-list {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .blog-item {
    width: 80%;
    margin: 0 auto;
  }
  .footer-right {
    width: 100%;
  }
  .wrap {
    flex-wrap: nowrap;
    // gap: 20px;
  }
  .footer-middle-3-col {
    width: 100%;
  }
  .page-footer {
    position: relative;
    padding: 20px 0;
    .footer-left {
      font-size: 15px;
    }
    .footer-right {
      width: 10%;
      position: absolute;
      bottom: 0;
      text-align: justify;
      font-size: 12px;
      display: none;
    }
    .footer-middle-3-col {
      padding-bottom: 100px;
      width: 70%;
      .footer-middle-title {
        font-size: 12px;
        line-height: 25px;
      }
      .footer-middle-item {
        font-size: 12px;
        line-height: 28px;
      }
    }
  }
  .slide-item {
    .slide-content {
      right: 4%;
      font-size: 20px;
      .slide-content-desc {
        color: map-get($colors , border-gray );
      }
    }
  }
  .section-slideshow {
    .btn-next {
      right: 10%;
    }
    .btn-prev {
      left: 10%;
    }
  }
  .section-blog {
    .blog-title {
      h2::before {
        left: 12%;
        width: 90px;
      }
      h2::after {
        right: 12%;
        width: 90px;
      }
    }
  }
  .product-list .product-item:nth-child(3) {
    padding-right: 20px;
  }
}
